<div>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <table>
      <tr>
        <td>
          <label for="username">User Name</label>
        </td>
        <td>
          <input type="text" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel"/>
          <div [hidden]="username.valid || username.pristine" style="color: red">Username is required</div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="password">Password</label>
        </td>
        <td>
          <input type="password" id="password" minlength="4" required [(ngModel)]="model.password" name="password" #password="ngModel">
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required" style="color: red">
              Password is required
            </div>
            <div *ngIf="password.errors.minlength" style="color: red">
              Password must be at least 4 character
            </div>
          </div>
        </td>
      </tr>
    </table>
    <div *ngIf="loginError"></div>
    <button type="submit" [disabled]="!loginForm.form.valid">Login</button>
    <button type="reset">Reset</button>
  </form>
</div>
